*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    z-index: 10;
}

.ue-interface {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0.5em;
    z-index: 10;
    /* Make the click event pass through */
    pointer-events: none;
}

.ue-container>div {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
}

.ue-container>.top-left {
    top: 0;
    left: 0;
}

.ue-container>.top-right {
    top: 0;
    right: 0;
    text-align: right;
}

.ue-container>.bottom-left {
    bottom: 0;
    left: 0;
}

.ue-container>.bottom-right {
    bottom: 0;
    right: 0;
    text-align: right;
}

.ue-interface-items {
    padding: .1em;
}

.ue-interface-button {
    cursor: pointer;
    user-select: none;
}